<h1> Friends Index </h1>


<h2> Total friends: {{ model.length }} </h2>

<tbody>
  {{#each model as |friend|}}
    <tr>
      <td> {{#link-to 'friends.show' friend}} {{ friend.firstName }} {{ friend.lastName }} {{/link-to}} </td>
      <td> <a href="#" {{action "delete" friend}}> Delete </a> </td>
    </tr>
  {{/each}}
</tbody>
